@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Love+Light&display=swap');
.header{
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  color:  #03dbfc;
  font-family: 'Bree Serif', serif;
  margin-top: 1rem;
  text-align: center;
}
.icon{
  display: flex;
  justify-content: end;
  margin-right: 1rem;
  margin-top: 1em;
  font-size: 20px ;
}
@media (max-width:59em){
  .header{
    font-size: 25px;
    text-align: center;
}
}
